body{
    padding: 0;
    margin: 0;
    background-color: black;
    overflow-y: hidden;
    overflow-x: hidden;
}
.container{
   position: relative;
   top: 100px;
   display: flex;
   width: 800px;
   height: 400px;
   /* border: 1px solid black; */
   margin: auto;
}

.login{
    width: 220px;
    height: 280px;
    border: 1px solid black;
    border-radius: 50px;
    margin: auto;
    background-color: #1E1E1E;
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.f_login{
    height: 35px;
    width: 150px;
    border: 1px solid #1E1E1E;
    border-radius: 15px;
    margin: auto;
    background-color: #008001;
}
.f_login h2{
    position: relative;
    top: -15px;
    text-align: center;
    color: white;
    text-shadow: 1px 2px black;
    font-weight: bold;
  
}

.form{
    padding: 20px;
    
}

.form input{
    background-color: #1E1E1E;
    height: 40px;
    width: 200px;
    border: 1px solid #008001;
    border-radius: 25px;
    margin-bottom: 15px;
    text-indent: 20px;
    font-size: 20px;
    
}

::placeholder{
    color: #008001;
    font-weight: bold;
}

.button{
   display: flex;
   justify-content: center;
   
}
.button {
    width: 150px;
    height: 40px;
    background-color: #008001;
    border-radius: 15px;
    border: none;
    font-size: 20px;
    color: white;
    margin: auto;
    
}


#forgot{
    position: relative;
    top: -10px;
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-style: normal;

}

.button a {
    position: relative;
    top: 10px;
    font-weight: bold;
    font-size: 20px;
    color: white;
    text-decoration: none;
    text-shadow: 1px 2px rgb(30, 30, 30);
}


#create {
    position: relative;
    top: -15px;
    text-align: center;
    text-decoration: none;
    color: white;
 
}

#alien1,#alien2 {
    height: 300px;
    width: 300px;
    position: relative;
    top: 30px;
}









@media only screen and (min-width: 400px) and (max-width: 690px) {
    .container {
    position: relative;
    top: 20px;
    width: 80%;
    height: 100px;
    left: -10px;
    
    }

    .login{
        position: relative;
        left: 0px;
    }

    .login input{
        position: relative;
        left: -15px;
    }

    .button input{
        position: relative;
        left: 0px;
    }
    
    #alien1{
        height: 150px;
        width: 150px;
        position: relative;
        left: -20px;
        top: 50px;
    }

    #alien2{
        height: 150px;
        width: 150px;
        position: relative;
        top: 50px;
        left: 20px;
    }

    

  }