<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="style/profile.css">
</head>
<body>
    <div class="box">
        <div class="boxSettings">
            <h1>Profile</h1>
        </div>
        <div class="boxes">
            <div class="Xbox">
                <img src="../images/user.png" alt="user">
            </div>
            <div class="content">
                <h1 id="userName">Dendi Gaming</h1>
            </div>
        </div>
        <div class="boxes">
            <div class="Xbox">
                <img src="../images/course.png" alt="program">
            </div>
            <div class="content">
                <h1 id="courseName">BSCS 3-B1</h1>
            </div>
        </div>
        <div class="boxes">
            <div class="Xbox">
                <img src="../images/psuid.png" alt="psuid" id="psuid">
            </div>
            <div class="content">
                <h1 id="psuidName">2020-8-0194</h1>
            </div>
        </div>
        <div class="boxes">
            <div class="Xbox">
                <img src="../images/bday.png" alt="bday">
            </div>
            <div class="content">
                <h1 id="userName">04-19-2001</h1>
            </div>
        </div>
        <div class="boxes">
            <div class="Xbox">
                <img src="../images/gender.png" alt="gender" id="gender">
            </div>
            <div class="content">
                <h1 id="genderName">Male</h1>
            </div>
        </div>
       
        
    </div>
</body>
</html>