<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>
    <link rel="stylesheet" href="style/settings.css">
</head>
<body>
    <div class="box">
        <div class="boxSettings">
            <h1>SETTINGS</h1>
        </div>
        <div class="boxButton">
            <div class="boxes">
                <img src="../images/notification.png" alt="notification">
                <h1>Notification</h1>
            </div>
            <div class="boxes">
                <img src="../images/contact.png" alt="contact">
                <h1>Contact</h1>
            </div>
            
        </div>
        <div class="boxButton">
            <div class="boxes">
                <img src="../images/about.png" alt="About">
                <h1>About</h1>
            </div>
            <div class="boxes">
                <img src="../images/save.png" alt="Save">
                <h1>Save</h1>
            </div>
            
        </div>  
    </div>
    <div class="relativeSettings">
        <div class="first">
            <div class="Xbox" id="fbox"><img src="../images/restart.png" alt="restart"></div>
            <div class="Xbox" id="sbox"><img src="../images/menu.png" alt="menu"></div>
        </div>
        <div class="second">
            <div class="Xbox" id="thbox"><img src="../images/sound.png" alt="sound"></div>
            <div class="Xbox" id="fobox"><img src="../images/exit.png" alt="exit"></div>
        </div>
    </div>
</body>
</html>